{{> admin/header }}
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  {{> admin/sidenav}}

  <div class="content-wrapper">
    {{> admin/messages}}
    {{{ body }}}
    
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    {{> admin/footer}}
  </div>
    </body>

</html>