{{> default/header }}

  <body>

    {{> default/topnavigation }}
    <!-- Page Content -->
    <div class="container">
      {{> default/messages}}
      {{{ body }}}

    </div>
    <!-- /.container -->

    <!-- Footer -->
    {{> default/footer }}

